
<!--Esta es la parte de las actividades -->
            <div id="bloque_index_actividad" class="izq">
            <div id="titulo_actividad">Actividades</div>

                {% for a in activ %}
                <div class="contenido_actividad">
                    <h1>{{a.titulo}}</h1>
                    <div class="calendario">
                        <div class="mes">{{a.fecha|date:'N'}}</div>
                        <div class="dia">{{a.fecha|date:'j'}}</div>
                    </div>
                    <p>
                        <b>Lugar:</b>{{a.lugar}}<br>
                        <b>hora:</b>{{a.fecha|time:'P'}}
                    </p>
                    <span class="participantes"><b>Participan:</b> {%for x in a.participantes.all %}{{x.user.first_name}}, {% endfor %}</span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
                {% endfor %}

</div>
</div>

