{%extends "clean_base.html"%}
{%block title%}Busquedas{%endblock%}
{%block content%}
<div id="busqueda">
	<div id="buscador">
		<form id="searchform" action="." method="GET">
			<input type="text" id="searchfield" name="q" value="{{ query|escape }}">
			<input type="submit" value="Consultar">
		</form>
		</div>
		<div id="mensaje">
		{% if query %}
				Se encontraron {{c}} resultados para: "{{ query|escape }}":
		</div>
		<div id="resultado">
			{% if results %}
				{% for contacto in results %} 
			<ul>
				<li>Nombre:{{ contacto.nombres }} {{ contacto.apellidos }}</li>
				<li>Telefono 1: {{ contacto.tel1 }}</li>
				<li>Telefono 2: {{ contacto.tel2 }}</li>
				<li>Telefono 3: {{ contacto.tel3 }}</li>
				<li>Organizacion: {{ contacto.organizacion }}</li>
				<li>Direccion : {{ contacto.dir1|safe }}</li>
			</ul>
				{% endfor %}
			{% else %} 
					<p>Contacto NO encontrado</p> 
			{% endif %} 
		{% endif %}

	</div>
	</div>
{% endblock %}
