{%extends "clean_base.html"%}
{%block title%}Documentos{%endblock%}
{%block content%}
<div id="content_lista" >
        <div id="titulo_content_lista">Equipo Simas</div>
        <div id="resultado">
        {%for documento in documentos.object_list%}
            <div class="contenido_detalle">
                <h1>{{documento.titulo}}</h1>
                <p>
                Fecha: {{documento.fecha}}<br/>
                Subido por: <a href="/perfiles/{{documento.usuario.user.username}}/">{{documento.usuario.user.first_name}} {{documento.usuario.user.last_name}}</a><br/>
                Descripcion: {{documento.descripcion|safe}}<br/>
                Descargar: <a href="{{documento.get_download_url}}">{{documento.titulo}}</a><br/> 
                </p>
            </div>
        {%endfor%}
        <div class="pagination">
                <span class="step-links">
                {% if documetnos.has_previous %}
                <a href="?page={{ documentos.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ documentos.number }} de {{ documentos.paginator.num_pages }}.
                </span>

                {% if documentos.has_next %}
                    <a href="?page={{ documentos.next_page_number }}">Siguiente</a>
                {% endif %}
                </span>
            </div>

    </div>
</div>
{% endblock %}
