{%extends "clean_base.html"%}
{% block title %}Inicio{% endblock %}
{%block extra_js%}
<script type="text/javascript">
    $(document).ready(function(){
        $.getJSON('/ajax/moneda/',
        function(data){
            var tope = data.length;        
            var i = 0;
            for(i=0; i<tope; i++){
                    //agregar fila a la tabla 
                var html_tabla = '<tr><td>' + data[i].cambio.fecha +
                '</td><td>' + data[i].cambio.valor + '</td></tr>';
                $('#tabla_cambio tr:last').after(html_tabla);
                }
            });
        });
</script>    
{%endblock%}
{%block left_colunm%}
<!-- Esta es la parte de la noticias-->

     <div id="bloque_index_noticia" class="izq">
            <div id="titulo_noticia">Noticias</div>    
                {% for noticia in noticias %}
                <div class="contenido_noticia">
                    <h1>{{noticia.titulo}}</h1>
                    <p>{{noticia.texto|truncatewords:10|safe}}</p>
                    <span class="autor"><b>Autor:</b> {{noticia.autor}}</span>
                    <div class="leermas der"><a href="/noticia/{{noticia.id}}" rel="facebox"> Leer +</a></div>
                </div>
                {% endfor %}
      
   </div>
{%endblock%}
{%block right_colunm%}
<!--Esta es la parte de las actividades -->
      <div id="bloque_index_actividad" class="izq">
            <div id="titulo_actividad">Actividades</div>

                {% for actividad in actividades %}
                <div class="contenido_actividad">
                    <h1>{{actividad.titulo}}</h1>
                    <div class="calendario">
                        <div class="mes">{{actividad.fecha|date:'N'}}</div>
                        <div class="dia">{{actividad.fecha|date:'j'}}</div>
                    </div>
                    <p>
                        <b>Lugar:</b>{{actividad.lugar}}<br>
                        <b>hora:</b>{{actividad.fecha|time:'P'}}
                    </p>
                    <span class="participantes"><b>Participan:</b> {%for participante in actividad.participantes.all %}{{participante.user.first_name}}, {% endfor %}</span><div class="leermas der"><a href="/actividad/{{actividad.id}}" rel="facebox"> Leer +</a></div>
                </div>
                {% endfor %}

       </div>

{%endblock%}
{%block moneda%}
	
				    <div class="separador" ></div>
				    <!-- Comienza bloque de tasa de cambio-->
				    <div id="bloque_index_tasa" >
				    <div id="titulo_tasa">Tasa de Cambio Oficial</div>
				    <div id="tabla_tasa">
						<table cellspacing="0" cellpadding="0" border="0" width="220" id="tabla_cambio">
							<tbody>
							<tr>
							<td valign="top">Fecha</td>
							<td >Tasa C$ / $</td>
							</tr>
							</tbody>
						</table>
						<br>
						<small>Datos dinamicos cortesia de <a href="http://elpueblopresidente.com">www.elpueblopresidente.com</a></small>
				    </div>
				    </div>
				    <!-- termina bloque de tasa de cambio-->
{% endblock %}

