{%extends "clean_base.html"%}
{% block title %}Inicio{% endblock %}
{%block left_colunm%}
<!-- Esta es la parte de la noticias-->

     <div id="bloque_index_noticia" class="izq">
            <div id="titulo_noticia">Noticias</div>    
                {% for noticia in noticias %}
                <div class="contenido_noticia">
                    <h1>{{noticia.titulo}}</h1>
                    <p>{{noticia.texto|truncatewords:10|safe}}</p>
                    <span class="autor"><b>Autor:</b> {{noticia.autor}}</span>
                    <div class="leermas der"><a href="/noticia/{{noticia.id}}" rel="facebox"> Leer +</a></div>
                </div>
                {% endfor %}
      
   </div>
{%endblock%}
{%block right_colunm%}
<!--Esta es la parte de las actividades -->
      <div id="bloque_index_actividad" class="izq">
            <div id="titulo_actividad">Actividades</div>

                {% for actividad in actividades %}
                <div class="contenido_actividad">
                    <h1>{{actividad.titulo}}</h1>
                    <div class="calendario">
                        <div class="mes">{{actividad.fecha|date:'N'}}</div>
                        <div class="dia">{{actividad.fecha|date:'j'}}</div>
                    </div>
                    <p>
                        <b>Lugar:</b>{{actividad.lugar}}<br>
                        <b>hora:</b>{{actividad.fecha|time:'P'}}
                    </p>
                    <span class="participantes"><b>Participan:</b> {%for participante in actividad.participantes.all %}{{participante.user.first_name}}, {% endfor %}</span><div class="leermas der"><a href="/actividad/{{actividad.id}}" rel="facebox"> Leer +</a></div>
                </div>
                {% endfor %}

       </div>

{%endblock%}
{%block moneda%}
	
				    <div class="separador" ></div>
				    <!-- Comienza bloque de tasa de cambio-->
				    <div id="bloque_index_tasa" >
				    <div id="titulo_tasa">Tasa de Cambio Oficial</div>
				    <div id="tabla_tasa">
						<table cellspacing="0" cellpadding="0" border="0" width="220">
							<tbody>
							<tr>
							<td valign="top">Fecha</td>
							<td >Tasa C$ / $</td>
							</tr>
                             {% for dato in tipos_de_cambios%}
							<tr>
                                <td valign="top">{{dato.cambio.fecha}}</td>
                                <td >{{dato.cambio.valor}}</td>
							</tr>
                            {%endfor%}
							</tbody>
						</table>
				    </div>
				    </div>
				    <!-- termina bloque de tasa de cambio-->
{% endblock %}
{% block acordion%}
                        <div id="titulo_documento">Documentos</div>
						<div id="accordion">
								{% for k in seccion %}
								<div>
									<h3><a href="#">{{k.nombre}}</a></h3>
									<div>
									     <ul>
									        {% for i in subseccion %}
									            {% if i.seccion_id == k.id %}
									         <li><a href="#">{{i.nombre}}</a></li>
									            {%endif%}
								            {% endfor %}
									     </ul>
									</div>
								</div>
								{% endfor %}
						</div>
<!--				 El otro acordio-->
					<div id="titulo_extra">Extra</div>
							<div id="accordion2">
								<div>
									<h3><a href="#">Cumpleaneros del mes</a></h3>
									<div>
									     <div class="cumpleanero">
                                             <div class="foto_cumple"><img src="{{MEDIA_URL}}imagen/carita.png"></div>
									           <div class="nombre_cumple"><b>Martha Olivera</b></div>
									           <div class="fecha_cumple">30 Febrero</div>
									     </div>
									     <div class="cumpleanero">
									           <div class="foto_cumple"><img src="{{MEDIA_URL}}imagen/carita.png"></div>
									           <div class="nombre_cumple"><b>Carlos Rocha</b></div>
									           <div class="fecha_cumple">1 Mayo</div>
									     </div>
									     <div class="cumpleanero">
									           <div class="foto_cumple"><img src="{{MEDIA_URL}}imagen/carita.png"></div>
									           <div class="nombre_cumple"><b>Adolfo Fitoria</b></div>
									           <div class="fecha_cumple">8 Marzo</div>
									     </div>
									</div>
								</div>
								<div>
									<h3><a href="#">Dias Feriados del mes</a></h3>
									 <div><b>1 de Mayo</b><br> Dia de los trabajadores</div>
								</div>
					    </div>
{% endblock %}
