
<!-- Esta es la parte de la noticias-->
<div id="colum_izq" class="izq">
            <div id="bloque_index_noticia" class="izq" >
            <div id="titulo_noticia">Noticias</div>    

                {% for n in noti %}
                <div class="contenido_noticia">
                    <h1>{{n.titulo}}</h1>
                    <p>{{n.texto|truncatewords:4|safe}}</p>
                    <span class="autor"><b>Autor:</b> {{n.autor}}</span>
                    <div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
                {% endfor %}

</div>

