{%extends "base.html"%}
{%block title%}Prueba{%endblock%}
{%block content%}
<div id="colum_izq" class="izq">
            <div id="bloque_index_noticia" class="izq" >
            <div id="titulo_noticia">Noticias</div>
                <div class="contenido_noticia">
                    <h1>Titulo de noticia ejemplo</h1>
                    <p>Quis lectus diam dictumst, duis vut, nunc porttitor montes duis, mus tincidunt?</p>
                    <span class="autor"><b>Autor:</b> Martha</span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
                <div class="contenido_noticia">
                    <h1>Titulo de noticia ejemplo</h1>
                    <p>Quis lectus diam dictumst, duis vut, nunc porttitor montes duis, mus tincidunt?</p>
                    <span class="autor"><b>Autor:</b> Martha</span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
                    <div class="contenido_noticia">
                    <h1>Titulo de noticia ejemplo</h1>
                    <p>Quis lectus diam dictumst, duis vut, nunc porttitor montes duis, mus tincidunt?</p>
                    <span class="autor"><b>Autor:</b> Martha</span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
                <div class="contenido_noticia">
                    <h1>Titulo de noticia ejemplo</h1>
                    <p>Quis lectus diam dictumst, duis vut, nunc porttitor montes duis, mus tincidunt?</p>
                    <span class="autor"><b>Autor:</b> Martha</span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
            </div>
            <div id="bloque_index_actividad" class="izq">
            <div id="titulo_actividad">Actividades</div>
                <div class="contenido_actividad">
                    <h1>Reunion planificacion zona seca</h1>
                    <div class="calendario">
                        <div class="mes">Mar</div>
                        <div class="dia">13</div>
                    </div>
                    <p>
                        <b>Lugar:</b>SIMAS<br>
                        <b>hora:</b>3:30 pm
                    </p>
                    <span class="participantes"><b>Participan:</b> Martha, Falguni, Carlos, Mercedes, Amanda, Martin </span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
                <div class="contenido_actividad">
                    <h1>Capacitacion Wordpress</h1>
                    <div class="calendario">
                        <div class="mes">Mar</div>
                        <div class="dia">3</div>
                    </div>
                    <p>
                        <b>Lugar:</b>Chinandega, ASODEL<br>
                        <b>hora:</b>3:30 pm
                    </p>
                    <span class="participantes"><b>Participan:</b> Martha </span><div class="leermasder"><a href="#"> Leer +</a></div>
                </div>
                <div class="contenido_actividad">
                    <h1>Reunion planificacion zona seca</h1>
                    <div class="calendario">
                        <div class="mes">Mar</div>
                        <div class="dia">6</div>
                    </div>
                    <p>
                        <b>Lugar:</b>Matagalpa, ADDAC<br>
                        <b>hora:</b>3:30 pm
                    </p>
                    <span class="participantes"><b>Participan:</b> Martha, Falguni, Carlos, Mercedes, Amanda, Martin, Denis, ... <a href="#">ver todos</a> </span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
                <div class="contenido_actividad">
                    <h1>Reunion de equipo</h1>
                    <div class="calendario">
                        <div class="mes">Mar</div>
                        <div class="dia">7</div>
                    </div>
                    <p>
                        <b>Lugar:</b>SIMAS<br>
                        <b>hora:</b>3:30 pm
                    </p>
                    <span class="participantes"><b>Participan:</b> Martha, Vanessa, Fitoria ... <a href="#">Ver todos</a> </span><div class="leermas der"><a href="#"> Leer +</a></div>
                </div>
            </div>

            <div class="separador" ></div>	
            <div id="bloque_index_tasa" >
            <div id="titulo_tasa">Tasa de Cambio Oficial</div>
            <div id="tabla_tasa">
                <table cellspacing="0" cellpadding="0" border="0" width="220">
                    <tbody>
                    <tr>
                    <td valign="top">Fecha</td>
                    <td >Tasa C$ / $</td>
                    </tr>
                    <tr>
                    <td valign="top">01/01/2010</td>
                    <td >21.60</td>
                    </tr>
                    <tr>
                    <td valign="top">02/01/2010</td>
                    <td >21.62</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
       </div>
       
       <div id="colum_der" class="der">
           <div id="titulo_documento">Documentos</div>
                <div id="accordion">
                        <div>
                            <h3><a href="#">Formatos</a></h3>
                            <div>
                                 <ul>
                                    <a href="#"><li>formato de contrato</li></a>
                                     <li><a href="#">formato de convenios</a></li>
                                     <li><a href="#">formato de carta</a></li>
                                     <li><a href="#">formato de informe mensual</a></li>
                                     <li><a href="#">formato de reporte de viaje</a></li>
                                     <li><a href="#">formato de memorandum</a></li>
                                 </ul>
                            </div>
                        </div>
                        <div>
                            <h3><a href="#">Recursos</a></h3>
                             <div>
                               <ul>
                                    <a href="#"> <li>Documentos importantes</li></a>
                                    <a href="#"> <li>Manuales</li></a>
                                     
                                 </ul>
                             </div>
                        </div>
                        <div>
                            <h3><a href="#">Planficacion</a></h3>
                             <div>
                               <ul>
                                    <a href="#"> <li>Planificacion estrategica 2006-2008</li></a>
                                 </ul>
                             </div>
                        </div>
                        <div>
                            <h3><a href="#">Reportes</a></h3>
                            <div>
                               <ul>
                                    <a href="#"> <li>Reportes de comunicacion</li></a>
                                    <a href="#"> <li>Reportes de manejo de informacion</li></a>
                                    <a href="#"> <li>Reportes de informatica</li></a>
                                    <a href="#"> <li>Coordinacion</li></a>
                                 </ul>
                             </div>
                        </div>
                        <div>
                            <h3><a href="#">Documentacion</a></h3>
                              <div>
                               <ul>
                                    <a href="#"> <li>Plan operativo anual</li></a>
                                    <a href="#"> <li>Informe de resultados</li></a>
                                    <a href="#"> <li>Organigrama institucional</li></a>
                                    <a href="#"> <li>Acta reuniones SIMAS-contrapartes</li></a>
                                    <a href="#"> <li>Linea de base</li></a>
                                 </ul>
                             </div>
                        </div>
                        <div>
                            <h3><a href="#">Acompanamiento Externo</a></h3>
                                <div>
                               <ul>
                                    <a href="#"> <li>Informe de acompanamiento externo</li></a>
                                    <a href="#"> <li>Informe de evaluaciones</li></a>
                                 </ul>
                             </div>
                        </div>
                </div>
            <div id="titulo_extra">Extra</div>
                    <div id="accordion2">
                        <div>
                            <h3><a href="#">Cumpleañeros del mes</a></h3>
                            <div>
                                 <div class="cumpleanero">
                                       <div class="foto_cumple"><img src="/archivos/imagen/carita.png"</div>
                                       <div class="nombre_cumple"><b>Martha Olivera</b></div>
                                       <div class="fecha_cumple">30 Febrero</div>
                                 </div>
                                 <div class="cumpleanero">
                                       <div class="foto_cumple"><img src="/archivos/imagen/carita.png"</div>
                                       <div class="nombre_cumple"><b>Carlos Rocha</b></div>
                                       <div class="fecha_cumple">1 Mayo</div>
                                 </div>
                                 <div class="cumpleanero">
                                       <div class="foto_cumple"><img src="/archivos/imagen/carita.png"</div>
                                       <div class="nombre_cumple"><b>Adolfo Fitoria</b></div>
                                       <div class="fecha_cumple">8 Marzo</div>
                                 </div>
                            </div>
                        </div>
                        <div>
                            <h3><a href="#">Dias Feriados del mes</a></h3>
                             <div><b>1 de Mayo</b><br> Dia de los trabajadores</div>
                        </div>
                </div>
       </div>
{%endblock%}
