/* --------------Comienza Generales-------------- */

body {
  background-color: #f7f7f7;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size:12px;
}

p {
  text-align:justify;
}

a img{
  border-style:none;
}



h2{
  font-size:18px;
  color:#4d4d4d;
  font-weight:bold;
}

.izq{
  float:left;
}

.der{
  float:right;
}

.centro{
  margin: 0pt auto;
  padding:0pt;
 
}
/* --------------Termina Generales-------------- */

/* --------------Contenedor que centra todo el sitio-------------- */
#contenedor{
  width:960px;
}

/* --------------Comienza Header-------------- */

#header{
  width:960px;
  height:140px;
  background-image: url(../imagen/header.png);
  background-repeat: no-repeat;
  margin-top:-10px;
}

#header li a, a:visited{
color:#333;
font-weight:bold;
text-decoration:none;
text-shadow:0px 1px 0px #fff;
}

#header li a:hover{
color:#333;
font-weight:bold;
text-decoration:none;
text-shadow:0px 0px 2px #4d4d4d;
}

#logo{
  width:250px;
  font-size:34px;
  font-weight:bold;
  color:#d4d408;
  margin-left:170px;
  margin-top:5px;
}

#sesion{
  min-width:80px;
  max-width:266px;
  height:20px;
  text-align:center;
  background:#368f4e;
  font-size:12px;
  border-radius:3px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari y Chrome */ 
}

#menu{
  margin-top:22px;
  margin-left:170px;
}

#menu ul {  
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	}

#menu li {
	margin-left:4px;
	padding-left:25px;
	padding-right:20px;
	padding-top:4px;
	height:20px;
	float:left;
	text-align:center;

	background-image:url(../imagen/separador.png);
	background-repeat: no-repeat;
	background-position:left;
	}

#sesion img{ margin-right:2px; }

#sesion a{
  color:#f6f6cf;
  text-decoration:none;
  text-shadow:none;
}
#sesion a:hover{
   text-decoration:none;
  color:#eeee96;
  text-shadow:none;
}



/* --------------Termina Header-------------- */





/* --------------Comienza contenido--------------- */
#contenido{
  width:956px;
  !width:916px;

  background:#fff;
  color:#5d5d5d;

 }

#colum_izq{
  width:590px;
  margin-left:10px;
  /*background:#ccc;*/

}
#colum_der{
  width:320px;
  margin-bottom:15px;
  margin-right:15px;
 /* padding-left:10px;*/
   /*background:#ccc;*/
}

#colum_der img{
  margin-bottom:3px;
}
#bloque_index_actividad{
  width:285px;
  margin-bottom:15px;
  background: url(../imagen/fondobloqueindex.png);
  background-repeat:repeat-y;
}
#bloque_index_actividad a{
  color:#2496bf;
}
#bloque_index_noticia{
  width:285px;
  margin-bottom:15px;
  background:#ccc;
  margin-right:10px;
  background: url(../imagen/fondobloqueindex.png);
  background-repeat:repeat-y;
}
#bloque_index_tasa{
  width:590px;
  height:200px;
  margin-bottom:15px;
  background:#eee;
  background: url(../imagen/fondotasa.png);
  background-repeat:no-repeat;
}
#bloque_index_enlaces{
  width:590px;
  margin-bottom:15px;
  background:#fff;
  background-repeat:no-repeat;
}
#titulo_noticia{
  width:275px;
  height:28px;
  background-image: url(../imagen/titulo_noticia.png);
  font-size:18px;
  padding-left:10px;
  padding-top:8px;
  color:#333;
  text-shadow:0 1px 0 #fff
}

#titulo_actividad{
  width:275px;
  height:28px;
  background-image: url(../imagen/titulo_actividad.png);
  font-size:18px;
  padding-left:10px;
  padding-top:8px;
  color:#333;
  text-shadow:0 1px 0 #fff
}
#titulo_tasa{
  width:590px;
  height:28px;
  background-image: url(../imagen/titulo_tasa.png);
  background-repeat:no-repeat;
  font-size:18px;
  padding-left:10px;
  padding-top:8px;
  color:#333;
  text-shadow:0 1px 0 #fff
}
#titulo_enlaces{
  width:590px;
  height:28px;
  background-image: url(../imagen/titulo_tasa.png);
  background-repeat:no-repeat;
  font-size:18px;
  padding-left:10px;
  padding-top:8px;
  color:#333;
  text-shadow:0 1px 0 #fff
}
#titulo_content_lista{
  width:590px;
  height:28px;
  background-image: url(../imagen/titulo_tasa.png);
  background-repeat:no-repeat;
  font-size:18px;
  padding-left:10px;
  padding-top:8px;
  color:#333;
  text-shadow:0 1px 0 #fff
}

.contenido_noticia{
  padding-left:10px;
  padding-right:10px;
  font-size:13px;
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#b3b3b3;
  padding-bottom:5px;
}

.contenido_noticia h1{
  font-weight:bold;
  font-size:14px;
  color:#7d9300;
  margin-bottom:0px;
  text-shadow:0 1px 0 #fff;
  
}
.contenido_noticia p{
 margin-top:0px;
}
.autor{
  font-size:11px;
  margin-top:0px;
}
.leermas{
  font-size:11px;
  margin-top:0px;
  margin-left:4px;
  margin-bottom:5px;
}

.leermas a, a:visited{
  text-decoration:none;
  color:#7d9300;
  font-weight:bold;
}

.leermas a:hover{
  text-decoration:underline;
}


.contenido_actividad{
  padding-left:10px;
  padding-right:10px;
  font-size:13px;
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#b3b3b3;
  min-height:86px;
}

.contenido_actividad h1{
  font-weight:bold;
  font-size:14px;
  color:#2496bf;
  margin-bottom:0px;
  text-shadow:0 1px 0 #fff
}

.contenido_actividad p{
 margin-top:0px;
 margin-bottom:3px;
}
.calendario{
  background: url(../imagen/calendario.png);
  background-repeat:no-repeat;
  width:68px;
  height:68px;
  float:left;
}
.mes{
  text-align:center;
  font-size:12px;
  color:#fff;
  font-weight:bold;
  margin-top:6px;

}
.dia{
  text-align:center;
  font-size:24px;
  color:#333;
  font-weight:bold;
  margin-top:5px;
  text-shadow:0 1px 0 #fff
}
.participantes{
  font-size:11px;
  margin-top:0px;
}


#tabla_tasa{
float:right;
margin-top:15px;
}

#tabla_tasa table{
font-size:13px;
color:#333;
}
#titulo_documento{
  width:310px;
  height:28px;
  background-image: url(../imagen/titulo_documentos.png);
  font-size:18px;
  padding-left:10px;
  padding-top:8px;
  color:#fff;
  text-shadow:0 1px 0 #550000;
}
#titulo_extra{
  width:310px;
  height:28px;
  background-image: url(../imagen/titulo_extras.png);
  font-size:18px;
  padding-left:10px;
  padding-top:8px;
  color:#fff;
  text-shadow:0 1px 0 #550000
}
.bloque{
  background-image: url(../imagen/bloque.jpg);
  width:250px;
  height:160px;
  margin-bottom:15px;
}

.enlaces{
 float:left;
 width:110px;
  background-image: url(../imagen/fondoenlace.png);
  background-repeat:no-repeat;
 margin-right:8px;
 margin-bottom:10px;
}

.enlaces h1{
 font-size:13px;
 text-align:center; 

}

.enlaces ul{
list-style:none;
padding:5px;
margin:0px;
}

.enlaces li{
padding-bottom:5px;
padding-top:5px;
border-bottom-color:#eee;
border-bottom-width:1px;
border-bottom-style:solid;
text-shadow:0 1px 0 #FFFFFF;
font-size:12px;
/*
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#d38d5f;
border-top-style:solid;
border-top-width:1px;
border-top-color:#fff;*/
}
.enlaces  li:hover{
background:#eee;
}
.enlaces li a, .enlaces li a:hover, .enlaces li a:visited{
text-decoration:none;
color:#757575;
font-weight: normal;

}


#accordion ul{
list-style:square;
padding:0;
margin:0px;
}

#accordion li{
padding-bottom:5px;
padding-top:5px;
background-image:url(../imagen/dividelistaacordion.png);
background-position:center bottom;
background-repeat:repeat-x;
text-shadow:0 1px 0 #FFFFFF;
/*
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#d38d5f;
border-top-style:solid;
border-top-width:1px;
border-top-color:#fff;*/
}
#accordion li:hover{
background:#e9d6af;
}
#accordion li a, a:hover,a:visited{
text-decoration:none;
}

.cumpleanero{
float:left;
margin-right:15px;
margin-bottom:5px;
}

.separador{
  clear:both;
}

/* --------------Contenido para vistas detalle-------------- */
#content_lista{
  width:590px;
  margin-bottom:15px;
  /*background: url(../imagen/fondotasa.png);
  background-repeat:no-repeat;*/
}

#filtros_actividades{
  width:580px;
  height:30px;
  background:#a7d5d7;
  padding-left:10px;

}

.boton_filtro{
	font-style:bold;
	margin-top:4px;
	text-align:center;
	padding-right:10px;
	padding-left:5px;
	min-width:50px;
	height:20px;
	float:right;
	margin-right:5px;
	border:1px solid #69b1de;
	-moz-border-radius:3px; /* Firefox */
    -webkit-border-radius:3px; /* Safari y Chrome */ 
	background: #e2efed;
	background-repeat: no-repeat;
}
.boton_filtro a, .boton_filtro a:hover, .boton_filtro a:visited {
	color:#475765;
}
#seleccion_actividades{
  width:585px;

  background:#eff6f2;
  padding-left:5px;
  padding-top:2px;
  padding-botom:2px;
}

.contenido_detalle{
  padding-left:10px;
  padding-right:10px;
  font-size:13px;
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#b3b3b3;

}

.contenido_detalle h1{
  font-weight:bold;
  font-size:14px;
  color:#2496bf;
  margin-bottom:4px;
  text-shadow:0 1px 0 #fff
}
.contenido_detalle h1 a, .contenido_detalle h1 a:visited, .contenido_detalle h1 a:hover{
  font-weight:bold;
  font-size:14px;
  color:#2496bf;
  margin-bottom:0px;
  text-shadow:0 1px 0 #fff;
  text-decoration:none;
}

.contenido_detalle p{
 margin-top:0px;
 margin-bottom:3px;
}
.contenido_detalle .leermas{
 text-align:right;
 margin-bottom:5px;
}

.avatar_lista{
float:left;
width:80px;
height:75px;
}

.avatar_detalle{
 height:195px;
 width:165px;
 float:left;

}

.campo_perfil{
background:#f0eded;
width:400px;
height:20px;
float:left;
padding-left:5px;
}

.campo_contacto{
background:#f0eded;

height:20px;

padding-left:5px;

}

#popup_actividad{
 font-size:13px;
}

#popup_actividad h1{
  margin-top:0px;
  padding-left:10px;
  padding-top:3px;
  padding-bottom:3px;
  font-size:16px;
  background:#75b5db;
  color:#fff;
  text-shadow:0 1px 0 #246da5;
  margin-bottom:2px;
}

#popup_actividad hr{
  background-color:#75b5db;
  color:#75b5db;
  border:0px;
  height:1px;
}

#popup_noticia{
 font-size:13px;
}

#popup_noticia h1{
  margin-top:0px;
  padding-left:10px;
  padding-top:3px;
  padding-bottom:3px;
  font-size:16px;
  background:#719f43;
  color:#fff;
  text-shadow:0 1px 0 #315111;
  margin-bottom:2px;
}

#popup_noticia hr{
  background-color:#719f43;
  color:#75b5db;
  border:0px;
  height:1px;
}


/* --------------Esto no va por el momento-------------- */
#contenido_inferior{
  width:916px;
  height:45px;
  background-image: url(../imagen/contenido_inferior.jpg);
  background-repeat: no-repeat;
  
}

/*  ----- mensaje de error del formulario de login------ */
.errorlist{
  border-width:1px;
  border-style:dashed;
  border-color:#FF1B0B;
  border-left:none;
  border-right:none;
  background-color:#FF7E87;
  list-style: none;
  background-image: url(../imagen/fallo1.png);
  background-repeat: no-repeat;
  background-position:center left;
  padding:5px 5px 5px 40px;
  color:#171721;
}

input:focus {  
  background:#FEE274;  
  border:3px solid #A62702;  
}

.avatar_lista img {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 7px #7f7f7f;
  -webkit-box-shadow: 0px 0px 7px #7f7f7f;
  box-shadow: 0px 0px 7px #7f7f7f;
}
.foto_cumple img {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 7px #7f7f7f;
  -webkit-box-shadow: 0px 0px 7px #7f7f7f;
  box-shadow: 0px 0px 7px #7f7f7f;
} 

/* ----------- fin del formulario login error ------*/

/* --------------Termina contenido-------------- */

/* --------------Comienza footer-------------- */

#footer{
  margin-top:0px;
  width:957px;
  height:50px;
  margin-bottom:-8px;
  !margin-bottom:0px;
  
  clear:both;
  background:#d9d9d9;
  border-top-color:#91a4af;
  border-top-width:1px;
  border-top-style:solid;
  font-size:11px;
}
#derechos{
margin-top:12px;
margin-left:20px;
}
#logofooter{
margin-top:5px;
margin-right:20px;
}

#simas{
 width:200px;
 !width:400px;
 height:15px;
 padding-left:635px;
 !padding-left:550px;
 padding-top:105px;
 font-size:12px;
 color:#3d3d3d;
}

#simas a{
  color:#3d3d3d;
  text-decoration:underline;
  font-weight:bold;
}

/* Termina footer */

