<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <title>INTRANET :: SIMAS - {%block title%}{%endblock%}</title>
    <style type="text/css">
        @import url({{MEDIA_URL}}css/estilo.css);
    </style>
    <link type="text/css" href="{{MEDIA_URL}}css/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){

				// Accordion
				$("#accordion").accordion({ header: "h3",collapsible: true, active: 2, autoHeight: false,icons: { 'header': 'ui-icon-plus', 'headerSelected': 'ui-icon-minus' } });
				
				//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
		
				
			});
				$(function(){

				// Accordion
				$("#accordion2").accordion({ header: "h3",collapsible: true ,autoHeight: false ,icons: { 'header': 'ui-icon-plus', 'headerSelected': 'ui-icon-minus' }});
				
				//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
				
			});
	</script>
  <link href="{{MEDIA_URL}}css/facebox.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="{{MEDIA_URL}}js/facebox.js" type="text/javascript"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loading_image : '{{MEDIA_URL}}imagen/loading.gif',
        close_image   : '{{MEDIA_URL}}imagen/closelabel.gif'
      }); 
    });
  </script>
	{%block extra_js%}{%endblock%}	
</head>

<body>
    <div id="contenedor" class="centro">
        
        <!-- Comienza el header -->
        <div id="header">
          
            <div id="sesion" class="centro">
            {% if user.is_authenticated %}
                <a href="/perfiles/crear">Crear/Editar Perfil</a> |
                <a href="/cuenta/logout"><img src="{{MEDIA_URL}}imagen/user.png"/> Salir</a> |
                <a href="/admin">Administrar</a>
            {%else%}
                <img src="{{MEDIA_URL}}imagen/user.png"/> 
                <a href="/cuenta/login">Entrar</a>
            {%endif%}
            </div>
           <div id="logo">INTRANET <small><small><em>beta</em></small></small></div>
           <div id="menu" class="izq">
           <ul> 
                
                <li><a href="/"><img src="{{MEDIA_URL}}imagen/home.png" align="left"> Inicio</a></li>
                <li><a href="/noticias/">Noticias</a></li>
                <li><a href="/actividades/">Actividades</a></li>
                <li><a href="/contactos/busqueda/">Contactos</a></li>
                <li><a href="/perfiles">Funcionarios</a></li>
                <li><a href="http://www.simas.org.ni">Simas</a></li>
                <li><a href="http://www.simas.org.ni/projekt">Projekt</a></li>
                <li><a href="/ayuda/">FAQ</a></li>
                
            </ul>
           </div>
                 
        </div>
        <!-- Termina el header -->
          <!-- Comienza Contenido-->
        <div id="contenido">
            
            <div id="colum_izq" class="izq">
            {%block left_colunm%}{%endblock%}
            {%block right_colunm%}{%endblock%}
            {%block moneda%}{%endblock%}
            {%block content%}{%endblock%}
            </div><!-- colum_izq-->
            
<!--         Comienza acordion-->
         <div id="colum_der" class="der">
                    <!--div titulo documento-->
                    <div id="titulo_documento">Documentos</div>
                    <div id="accordion">
                            {% for seccion in secciones %}
                            <div>
                                <h3><a href="#">{{seccion.nombre}}</a></h3>
                                <div>
                                     <ul>
                                        {% for subseccion in subsecciones %}
                                            {% if subseccion.seccion_id == seccion.id %}
                                            <li><a href="/documentos/{{subseccion.slug}}/">{{subseccion.nombre}}</a></li>
                                            {%endif%}
                                        {% endfor %}
                                     </ul>
                                 </div>
                             </div>
                            {% endfor %}
                     </div>
<!--				 El otro acordio-->
                    <div id="titulo_extra">Extra</div>
                    <div id="accordion2">
                        <div>
                            <h3><a href="#">Cumpleañeros del mes</a></h3>
                            <div>
                            {% for cumple in cumpleanos %}
                                {% if cumple.fecha|date:'n' == mes %}
                                 <div class="cumpleanero">
                                       <div class="foto_cumple"><img src="{{cumple.avatar.url_75x75}}"></div>
                                       <div class="nombre_cumple"><b>{{cumple.user.first_name}} {{cumple.user.last_name}}</b></div>	           
                                       <div class="fecha_cumple">{{cumple.fecha|date:'j F'}}</div>
                                 </div>
                                {% endif %}
                             {% endfor %}
                             </div>
                        </div>
                        <div>
                            <h3><a href="#">Proximos dias Feriados</a></h3>
                            <div>
                                {% for dia in dias_sidebar %}
                             <b><br><img src="{{MEDIA_URL}}imagen/calendar_small.png" align="left"> {{dia.fecha|date:'j F'}}</b><br>{{dia.descripcion}}
                                {% endfor %} 
                            </div>
                        </div>
                    </div>
		  </div>
            <div class="separador" ></div>
         </div> 
        <!-- Termina Contenido-->
        
        <!-- Comienza Footer-->
        
        <div id="footer">
             <div id="derechos"class="izq">Desarrollado por SIMAS, 2010 <br> Plataforma Django framework. Pecera Software!</div>
              <div id="logofooter" class="der"><img align="right" src="{{MEDIA_URL}}imagen/logofooter.png"></div>
        </div>
        <!-- Termina Footer-->
        
    </div>
    <!-- Termina Contenedor-->
</body>
</html>
