{%extends "clean_base.html"%}
{%block title%}Perfiles{%endblock%}
{% block content %}
<div id="actividades_lista" >
        <div id="titulo_tasa">Cambiar Contraseña</div>
        <div id="resultado_actividades">
            <div class="contenido_actividad">
                <form action="." method= "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table> <br/>
                    <input type = "submit" value = "Cambiar Contraseña" />
                </form>
        </div>
        </div>
</div>
{% endblock %}
