{%extends "base.html"%}
{%block title%}Perfiles{%endblock%}
{%block left_column%}
<div id="actividades_lista" >
        <div id="titulo_tasa">Equipo Simas</div>
        <div id="resultado_actividades">
        {% for profile in object_list%}
            <div class="contenido_actividad">
                <h1>{{profile.user.first_name}} {{profile.user.last_name}}</h1>
                <div class="calendario">
                    <div class="mes">Mar</div>
                    <div class="dia">13</div>
                </div>
                <p>
                    <b>Cargo:</b> {{profile.cargo}}<br>
                    <b>Área:</b> {{profile.area}}<br>
                </p>
                <span class="participantes"><b>Participan:</b> Martha, Falguni, Carlos, Mercedes, Amanda, Martin </span><div class="leermas der"><a href="#"> Leer +</a>
            </div>
        {%endfor%}
        </div>
        </div>
</div>
{%endblock%}
