{%extends "clean_base.html"%}
{%block title%}Perfiles{%endblock%}
{%block content%}
<div id="content_lista" >
        <div id="titulo_content_lista">Equipo Simas</div>
        <div id="resultado">
        {% for profile in object_list%}
            <div class="contenido_detalle">
                <h1>{{profile.user.first_name}} {{profile.user.last_name}}</h1>
                    <div class="avatar_lista">
                    <a href="/perfiles/{{profile.user}}"><img src="{{profile.avatar.url_75x75}}"/></a>
                    </div>
                <p>
                    <b>Cargo:</b> {{profile.cargo}}<br>
                    <b>Área:</b> {{profile.area}}<br>
                </p>
                <br clear="both">
                <div class="leermas"><a href="/perfiles/{{profile.user}}"> Leer +</a></div>
                
            </div>
        {%endfor%}
        </div>
</div>
{%endblock%}
